<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IMC</title>
</head>
<body>

<h1>IMC</h1>

<h2>Resultado do IMC</h2>
<h3>O resultado do IMC para <span th:text="'altura: ' + ${altura} + 'm e peso: ' + ${peso} + 'kg'"></span></h3>
<p th:text="'IMC = ' + ${imcFormatado} + ' resultando em um ìndice de Massa Corporal classificado em ' + ${classificacaoDoImc}"></p>


</body>
</html>