<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Média</title>
</head>
<body>

<h1>Média</h1>

<p>Baseando-se que a média de aprovação de um aluno deve ser igual ou maior que <strong>6</strong>
    para aprovação.</p>

<p>O resultado das notas apresentadas é de:
    <strong th:text=" ${mediaFormatado}"></strong>
</p>

<p>O aluno(a):
    <strong th:text="${classificacaoMedia}"></strong>
</p>

</body>
</html>